<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>xiezi-glow8.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,0},{166,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{166,151}}</string>
    <key>sourceSize</key>
    <string>{166,151}</string>
   </dict>
   <key>xiezi-glow7.png</key>
   <dict>
    <key>frame</key>
    <string>{{579,0},{161,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{161,146}}</string>
    <key>sourceSize</key>
    <string>{161,146}</string>
   </dict>
   <key>xiezi-glow6.png</key>
   <dict>
    <key>frame</key>
    <string>{{742,0},{144,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{144,134}}</string>
    <key>sourceSize</key>
    <string>{144,134}</string>
   </dict>
   <key>xiezi-glow5.png</key>
   <dict>
    <key>frame</key>
    <string>{{742,136},{136,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{136,126}}</string>
    <key>sourceSize</key>
    <string>{136,126}</string>
   </dict>
   <key>xiezi-glow3.png</key>
   <dict>
    <key>frame</key>
    <string>{{579,148},{128,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,118}}</string>
    <key>sourceSize</key>
    <string>{128,118}</string>
   </dict>
   <key>xiezi-glow2.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,153},{125,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{125,114}}</string>
    <key>sourceSize</key>
    <string>{125,114}</string>
   </dict>
   <key>xiezi-glow1.png</key>
   <dict>
    <key>frame</key>
    <string>{{307,227},{66,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,70}}</string>
    <key>sourceSize</key>
    <string>{66,70}</string>
   </dict>
   <key>xiezi-ying4.png</key>
   <dict>
    <key>frame</key>
    <string>{{307,0},{102,225}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,225}}</string>
    <key>sourceSize</key>
    <string>{102,225}</string>
   </dict>
   <key>xiezi-ying2.png</key>
   <dict>
    <key>frame</key>
    <string>{{172,0},{133,273}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{133,273}}</string>
    <key>sourceSize</key>
    <string>{133,273}</string>
   </dict>
   <key>xiezi-ying1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{170,304}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{170,304}}</string>
    <key>sourceSize</key>
    <string>{170,304}</string>
   </dict>
   <key>xiezi-yan6.png</key>
   <dict>
    <key>frame</key>
    <string>{{981,166},{14,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,14}}</string>
    <key>sourceSize</key>
    <string>{14,14}</string>
   </dict>
   <key>xiezi-yan5.png</key>
   <dict>
    <key>frame</key>
    <string>{{538,153},{16,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,22}}</string>
    <key>sourceSize</key>
    <string>{16,22}</string>
   </dict>
   <key>xiezi-yan4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1002,141},{18,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,24}}</string>
    <key>sourceSize</key>
    <string>{18,24}</string>
   </dict>
   <key>xiezi-yan3.png</key>
   <dict>
    <key>frame</key>
    <string>{{981,141},{19,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,23}}</string>
    <key>sourceSize</key>
    <string>{19,23}</string>
   </dict>
   <key>xiezi-yan2.png</key>
   <dict>
    <key>frame</key>
    <string>{{709,148},{18,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,21}}</string>
    <key>sourceSize</key>
    <string>{18,21}</string>
   </dict>
   <key>xiezi-yan1.png</key>
   <dict>
    <key>frame</key>
    <string>{{556,153},{18,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,18}}</string>
    <key>sourceSize</key>
    <string>{18,18}</string>
   </dict>
   <key>xiezi-jiaoyin.png</key>
   <dict>
    <key>frame</key>
    <string>{{888,0},{128,139}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{128,139}}</string>
    <key>sourceSize</key>
    <string>{128,139}</string>
   </dict>
   <key>xiezi-s1.png</key>
   <dict>
    <key>frame</key>
    <string>{{880,141},{99,162}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{99,162}}</string>
    <key>sourceSize</key>
    <string>{99,162}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>slipper.png</string>
   <key>textureFileName</key>
   <string>slipper.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>