<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headai_10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{142,178}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,30},{142,178}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,148},{142,178}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,30},{142,178}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{144,180}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,31},{144,180}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,150},{144,180}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,31},{144,180}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_14_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{144,180}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,31},{144,180}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_15_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{146,180}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,31},{146,180}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_16_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{146,180}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,31},{146,180}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_17_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,182}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{140,182}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_18_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,478},{140,180}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,28},{140,180}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_19_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,296},{140,180}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,28},{140,180}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,768},{146,170}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,28},{146,170}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_20_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,620},{136,176}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,29},{136,176}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{138,172}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,29},{138,172}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,174},{148,170}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,25},{148,170}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{148,170}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,25},{148,170}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,620},{148,170}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,25},{148,170}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,758},{148,170}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,25},{148,170}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,346},{148,168}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{148,168}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,620},{146,174}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,30},{146,174}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_8_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,442},{144,176}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,29},{144,176}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
            <key>headai_9_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,296},{144,178}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,30},{144,178}}</string>
                <key>sourceSize</key>
                <string>{232,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>headAni.png</string>
            <key>size</key>
            <string>{672,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42154d2b1ab8cc81ff8dbf82f78aab40$</string>
            <key>textureFileName</key>
            <string>headAni.png</string>
        </dict>
    </dict>
</plist>
