<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{84,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{84,112}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,86},{78,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{78,84}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,156},{80,96}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{80,96}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,162},{86,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{86,92}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,172},{78,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{78,94}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{90,110}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,88},{24,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,7},{24,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,114},{82,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{82,112}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,114},{62,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{62,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,86},{78,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{78,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,86},{78,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{78,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,86},{68,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{68,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,86},{80,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{80,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tiao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,86},{74,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{74,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,116},{80,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{80,78}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,88},{56,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{56,112}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{84,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{84,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,156},{86,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{86,102}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,162},{86,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{86,102}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,86},{74,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{74,118}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{90,118}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,86},{68,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{68,116}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>tong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{90,110}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{84,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{84,112}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,114},{84,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{84,116}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{82,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{82,116}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{82,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{82,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>w_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{82,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{82,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>w_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{82,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{82,116}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>w_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{82,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{82,116}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>w_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{82,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{82,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>w_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{82,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{82,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,172},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{82,80}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,146},{68,106}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{68,106}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1320,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25c84a40fdda516238ae9eeaae7e7cc0$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
